* {
  background-color: green;
  color: white;
}
.cparm {
  text-align: center;
  color: white;
  background-color: green;
  font-size: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.parmpic {
  width: 1100px;
  height: ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alfredo {
  text-align: center;
  color: rgb(230, 243, 172);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 80px;
}
.alfpic {
  width: 800px;
  height: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alfh2 {
  text-align: center;
  font-size: 32px;
}
.beeftitle {
  background-color: orange;
}
.beefbody {
  background-color: orange;
  color: rgba(209, 65, 65, 0.781);
}
.beef {
  background-color: orange;
  color: rgba(204, 51, 51, 0.823);
  text-align: center;
  font-size: 85px;
}
.beefpic {
  width: 1000px;
  height: ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.beefh2 {
  text-align: center;
  font-size: 32px;
  background-color: orange;
  color: brown;
}
.instructs {
  background-color: orange;
  color: brown;
}